.Getstartednow {
  background-color: aqua;
}

/*.get {
  .get {
    display: inline-block;
    padding: 12px 20px;
    background: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
  }
  .get:hover {
    background: #cc0000;
  }
}
